<!DOCTYPE html>
<html>

{% load tz %}

<head>
    <script
            src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous">
    </script>
</head>
<body>
<div>
    <h2>
        KOMENTARI
    </h2>

    <form id="post-form" style="margin-bottom: 60px">
        {% csrf_token %}
        <textarea style="max-width: 27rem;" name="comment_text" class="form-control" id="comment_text" rows="3"></textarea>
        <input type="hidden" name="match_round" id="match_round" value="{{match_round}}"/>
        <button class="btn btn-primary" type="button" style="margin-top: 20px" onclick="create_comment()">Komentiraj</button>
    </form>


    <form id="update-delete-form" style="margin-bottom: 5px; margin-left: 5px">
        {% csrf_token %}
        {% for comment in comments %}
            <div style="margin-top: 30px">
                <div>{{ comment.username }} &nbsp&nbsp&nbsp&nbsp {% timezone "Europe/Zagreb" %}
                    {{ comment.created_on|date:'d.m.Y H:i' }}
                {% endtimezone %}
                </div>



                <input type="hidden" name="editable_comment_id_{{ comment.id }}" id="editable_comment_id__{{ comment.id }}" value="{{comment.id}}"/>
                {% if userinfo.sub == comment.user_id or userinfo.sub == 'auth0|63549aff5615e6a1bdb55e3d'%}
                    <textarea style="max-width: 27rem;background-color: #dcf1fd" name="editable_comment_text_{{ comment.id }}" class="form-control" id="editable_comment_text_{{ comment.id }}" rows="3">{{ comment.text }}</textarea>
                    <div style="margin-top: 15px">
                        <button class="btn btn-danger" type="button" onclick="deleteComment({{ comment.id }})">
                            Obriši
                        </button>
                        {% if userinfo.sub == comment.user_id %}
                        <button class="btn btn-success" type="button" onclick="updateComment({{ comment.id }})">
                            Ažuriraj
                        </button>
                    </div>
                    {% endif %}

                {% else %}
                    <textarea readonly style="max-width: 27rem;background-color: #ffeef1" name="comment_text" class="form-control" id="comment_text" rows="3">{{ comment.text }}</textarea>
                {% endif %}
            </div>

        {% endfor %}
    </form>


</div>
</body>

<script>
    function deleteComment(comment_id) {

        $.ajax({
            type:'DELETE',
            contentType: 'application/json',
            url: '/league/comment/' +  comment_id + '/',
            headers: {
                'X-CSRFToken':$('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(data){
                window.location.reload()
            },
            error: function (data) {
                window.location.reload()
            }
        });
    }

    function create_comment() {
        $.ajax({
            type:'POST',
            contentType: 'application/json',
            url: '/league/comment/',
            headers: {
                'X-CSRFToken':$('input[name=csrfmiddlewaretoken]').val()

            },
            data: JSON.stringify({

                text:$('#comment_text').val(),
                match_round:parseInt($('#match_round').val())
            }),
            success: function(){
                window.location.reload()
            },
            error: function () {
                window.location.reload()
            }
        });
        document.getElementById('comment_text').value = ''
    }

    function updateComment(comment_id) {



        $.ajax({
            type:'PUT',
            contentType: 'application/json',
            url: '/league/comment/' + comment_id + '/',
            headers: {
                'X-CSRFToken':$('input[name=csrfmiddlewaretoken]').val()
            },
            data: JSON.stringify({

                text:$(`#editable_comment_text_${comment_id}`).val(),
                match_round:parseInt($('#match_round').val())
            }),
            success: function(data){
                window.location.reload()
            },
            error: function (data) {
                window.location.reload()
            }
        });

    }


</script>
</html>