{% extends 'base_site.html' %}

{% block content %}

    <table class="styled-table">
        <thead>
        <tr>
            <th>KLUB</th>
            <th>U</th>
            <th>P</th>
            <th>N</th>
            <th>I</th>
            <th>RAZ</th>
            <th>+/-</th>
            <th>BOD</th>

        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.matches_played }}</td>
                <td>{{ team.win }}</td>
                <td>{{ team.draw }}</td>
                <td>{{ team.lose }}</td>
                <td>{{ team.goal_difference }}</td>
                <td>{{ team.goals_for}}:{{ team.goals_against }}</td>
                <td>{{ team.points }}</td>
            </tr>
        {% endfor %}

        </tbody>

    </table>
    <h1>Kola: </h1>
    <hr class="mt-0 mb-4">
    {% for round in match_rounds %}
        <a href={{ request.path }}{{ "match_round/"}}{{ round.match_round }}> Kolo broj {{ round.match_round }}</a> Odigrano {{ round.played }}/{{ round.played|add:round.not_played }}
        <br>
    {% endfor %}

{% endblock %}

