{% extends 'base_site.html' %}

{% load tz %}



{% block content %}
    <h1 class="mt-2">Kolo {{ round_number }}</h1>

    <table class="styled-table">
        <thead>
        <tr>
            <th>Domaćin</th>
            <th>Rezultat</th>
            <th>Gost</th>
            <th>Početak</th>
        </tr>
        </thead>
        <tbody>
        {% for match in matches %}
            <tr>
                <td>
                    <img class="img" src="{{ match.home_team_photo }}">
                    <a>{{ match.home_team_name }}</a>
                </td>

                <td>
                    {% if match.home_team_goals and match.away_team_goals%}
                        <a style="font-size: x-large">{{ match.home_team_goals }}:{{ match.away_team_goals }}</a>
                    {% else %}
                        <a style="color: red; font-size: x-large">TBD</a>
                    {% endif %}

                </td>
                <td>
                    <a>{{ match.away_team_name }}</a>
                    <img class="img" src="{{ match.away_team_photo }}">
                </td>
                <td>
                    <a> {% timezone "Europe/Zagreb" %}
                        {{ match.begin_time|date:'d.m.Y H:i' }}
                    {% endtimezone %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if session %}
        {% include 'comments.html' with comments=comments%}
    {% endif %}
{% endblock %}


