{% extends 'base_site.html' %}



{% block content %}
    {% include 'css/table.html' %}
    <h1 class="mt-2">Kolo {{ round_number }}</h1>

    <table class="styled-table">
        <thead>
        <tr>
            <th>Domaćin</th>
            <th>Rezultat</th>
            <th>Gost</th>
            <th>Početak</th>
        </tr>
        </thead>
        <tbody>
        {% for match in matches %}
            <tr>
                <td>
                    <img class="img" src="{{ match.home_team_photo }}">
                    <a>{{ match.home_team_name }}</a>
                </td>
                <td>
                    <a style="font-size: x-large">{{ match.home_team_goals }}:{{ match.away_team_goals }}</a>
                </td>
                <td>
                    <a>{{ match.away_team_name }}</a>
                    <img class="img" src="{{ match.away_team_photo }}">
                </td>
                <td>
                    Danas
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


